In [56]:
import pandas as pd

In [57]:
df = pd.read_csv('darkness-dataset.csv', delimiter=';')

In [58]:
df.head()

,"id,name,country_code,position,city,current_company,about,posts,experience,url,people_also_viewed,educations_details,education,recommendations_count,avatar,languages,certifications,recommendations,volunteer_experience,courses,followers,connections,current_company_company_id,current_company_name,publications,patents,projects,organizations,input_url,linkedin_id",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,"random-id-2468,""Random Name"",""KW"","""",""Kuwait"",...",NaN,NaN,NaN,NaN
1,"random-id-1357,""Random Name"",""IN"",""Random EduT...",NaN,NaN,NaN,NaN
2,"random-id-8642,""Random Name"","""","""","""",""{""""comp...",NaN,NaN,NaN,NaN
3,"random-id-9512,""Random Name"",""UK"",""Design Engi...",NaN,NaN,NaN,NaN
4,"random-id-8642,""Random Name"",""KW"","""",""Kuwait"",...",NaN,NaN,NaN,NaN

In [59]:
# Supprimer les guillemets de la colonne
df[0] = df[0].str.replace('"', '', regex=False)

KeyError: 0

In [60]:
df.head()

,"id,name,country_code,position,city,current_company,about,posts,experience,url,people_also_viewed,educations_details,education,recommendations_count,avatar,languages,certifications,recommendations,volunteer_experience,courses,followers,connections,current_company_company_id,current_company_name,publications,patents,projects,organizations,input_url,linkedin_id",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,"random-id-2468,""Random Name"",""KW"","""",""Kuwait"",...",NaN,NaN,NaN,NaN
1,"random-id-1357,""Random Name"",""IN"",""Random EduT...",NaN,NaN,NaN,NaN
2,"random-id-8642,""Random Name"","""","""","""",""{""""comp...",NaN,NaN,NaN,NaN
3,"random-id-9512,""Random Name"",""UK"",""Design Engi...",NaN,NaN,NaN,NaN
4,"random-id-8642,""Random Name"",""KW"","""",""Kuwait"",...",NaN,NaN,NaN,NaN

In [61]:
split_columns = df['id'].str.split(',', expand=True)

# Vérifiez le nombre de colonnes
print(split_columns.shape[1])  # Affiche le nombre de colonnes

KeyError: 'id'

In [62]:
print(df.iloc[:, 0].head())

0    random-id-2468,"Random Name","KW","","Kuwait",...
1    random-id-1357,"Random Name","IN","Random EduT...
2    random-id-8642,"Random Name","","","","{""comp...
3    random-id-9512,"Random Name","UK","Design Engi...
4    random-id-8642,"Random Name","KW","","Kuwait",...
Name: id,name,country_code,position,city,current_company,about,posts,experience,url,people_also_viewed,educations_details,education,recommendations_count,avatar,languages,certifications,recommendations,volunteer_experience,courses,followers,connections,current_company_company_id,current_company_name,publications,patents,projects,organizations,input_url,linkedin_id, dtype: object

In [63]:
df_to_clean = df.iloc[:,0].str.split(',',expand=True)
df_to_clean

,0,1,2,3,4,5,6,7,8,9,...,105,106,107,108,109,110,111,112,113,114
0,random-id-2468,"""Random Name""","""KW""","""""","""Kuwait""","""{""""company_id"""":""""-seara""""","""""industry"""":""""Seara Alimentos LTDA""""","""""link"""":""""https://br.linkedin.com/company/-se...","""""name"""":""""Random Alimentos LTDA""""}""","""Experienced Unit Sales Manager with a demonst...",...,None,None,None,None,None,None,None,None,None,None
1,random-id-1357,"""Random Name""","""IN""","""Random EduTech""","""Noida",Uttar Pradesh,"India""","""{""""company_id"""":""""byjus""""","""""industry"""":""""BYJU'S""""","""""link"""":""""https://in.linkedin.com/company/byj...",...,None,None,None,None,None,None,None,None,None,None
2,random-id-8642,"""Random Name""","""""","""""","""""","""{""""company_id"""":""""shepard-exposition-services""""","""""industry"""":""""Shepard""""","""""link"""":""""https://www.linkedin.com/company/sh...","""""name"""":""""Random Event Services""""}""","""EXPERIENCED EVENT PLANNER with over three yea...",...,None,None,None,None,None,None,None,None,None,None
3,random-id-9512,"""Random Name""","""UK""","""Design Engineer (System health) at Random Pow...","""Galashiels""","""{""""company_id"""":""""edf-energy""""","""""industry"""":""""EDF (UK)""""","""""link"""":""""https://uk.linkedin.com/company/edf...","""""name"""":""""Random Power""""","""""title"""":""""Design Engineer (System health) at...",...,None,None,None,None,None,None,None,None,None,None
4,random-id-8642,"""Random Name""","""KW""","""""","""Kuwait""","""{""""company_id"""":""""global-infinity""""","""""industry"""":""""Global Infinity Contracting""""","""""link"""":""""https://kw.linkedin.com/company/glo...","""""name"""":""""Random Contracting""""}""","""Experienced Chief Executive Officer with a de...",...,None,None,None,None,None,None,None,None,None,None
5,random-id-7531,"""Random Name""","""KW""","""""","""Kuwait""","""{""""company_id"""":""""global-infinity""""","""""industry"""":""""Global Infinity Contracting""""","""""link"""":""""https://kw.linkedin.com/company/glo...","""""name"""":""""Random Contracting""""}""","""Experienced Chief Executive Officer with a de...",...,None,None,None,None,None,None,None,None,None,None
6,random-id-7890,"""Random Name""","""DZ""","""Logging Operations & Petrophysical QA/QC supe...","""Biskra","Algeria""","""{""""industry"""":""""None at present""""","""""name"""":""""None at present""""","""""title"""":""""Logging Operations & Petrophysical...","""I have fifteen years of experience in the oil...",...,None,None,None,None,None,None,None,None,None,None
7,random-id-4820,"""Random Name""","""NG""","""Volkswagen Product at Random Auto Sales""","""Nigeria""","""{""""industry"""":""""CollinsCAR-Automobile_inv.org""""","""""name"""":""""Random Auto Sales""""","""""title"""":""""Volkswagen Product at Random Auto ...","""We encourage you to browse our online inventory",schedule a test drive and investigate financi...,...,None,None,None,None,None,None,None,None,None,None
8,random-id-9025,"""Random Name""","""UK""","""""","""""","""{""""company_id"""":""""oldmill""""","""""industry"""":""""Old Mill""""","""""link"""":""""https://uk.linkedin.com/company/old...","""""name"""":""""Random Company""""}""","""I have worked in Financial Services since lat...",...,None,None,None,None,None,None,None,None,None,None
9,random-id-5837,"""Random Name""","""EG""","""Food Safety & hygiene coordinator at Random H...","""Cairo""","""{""""company_id"""":""""steigenberger""""","""""industry"""":""""Steigenberger Hotels and Resorts""""","""""link"""":""""https://de.linkedin.com/company/ste...","""""name"""":""""Random Hotels and Resorts""""","""""title"""":""""Food Safety & hygiene coordinator ...",...,2000,500,"""steigenberger""","""Random Hotels and Resorts""","""[]""","""[]""","""[]""","""""","""https://www.linkedin.com/in/random-id-5837""","""random-id-5837"""
10,random-id-5847,"""Random Name""","""GB""","""Community Associate at Random Labs Cambridge""","""Greater Cambridge Area""","""{""""industry"""":""""Random Labs""""","""""name"""":""""Random Labs""""","""""title"""":""""Community Associate at Random Labs...","""Experienced in hospitality with a demonstrate...",Conference Services,...,None,None,None,None,None,None,None,None,None,None
11,random-id-12286a197,"""Random Name""","""EG""","""Senior Media Buyer | Marketing Strategist | G...","""New Cairo""","""{""""company_id"""":""""cmg-city-mega-group""""","""""industry"""":""""CMG | City Mega Group""""","""""link"""":""""https://eg.linkedin.com/company/cmg...","""""name"""":""""CMG | City Mega Group""""","""""title"""":""""Senior Media Buyer | Marketing Str...",...,"""""","""https://www.linkedin.com/in/random-id-12286a197""","""random-id-12286a197""",None,None,None,None,None,None,None

In [73]:
data=df.iloc[:,0].str.split(r',(?=(?:[^{}]*\{[^{}]*\})*[^{}]*$)',expand=True)
data

,0,1,2,3,4,5,6,7,8,9,...,49,50,51,52,53,54,55,56,57,58
0,random-id-2468,"""Random Name""","""KW""","""""","""Kuwait""","""{""""company_id"""":""""-seara"""",""""industry"""":""""Sea...","""Experienced Unit Sales Manager with a demonst...","""[{""""attribution"""":""""By Random Name"""",""""create...","""""","""https://www.linkedin.com/in/random-id-2468""",...,None,None,None,None,None,None,None,None,None,None
1,random-id-1357,"""Random Name""","""IN""","""Random EduTech""","""Noida",Uttar Pradesh,"India""","""{""""company_id"""":""""byjus"""",""""industry"""":""""BYJU...","""""","""""",...,"""https://www.linkedin.com/in/random-id-1357""","""random-id-1357""",None,None,None,None,None,None,None,None
2,random-id-8642,"""Random Name""","""""","""""","""""","""{""""company_id"""":""""shepard-exposition-services...","""EXPERIENCED EVENT PLANNER with over three yea...","""[]""","""[]""","""https://www.linkedin.com/in/random-id-8642?_l...",...,None,None,None,None,None,None,None,None,None,None
3,"random-id-9512,""Random Name"",""UK"",""Design Engi...",permit to work and method statements),meeting deadlines,time management and communication. Also being...,working independently and trusted to carry ou...,permit to work and method statements),meeting deadlines,time management and communication. Also being...,working independently and trusted to carry ou...,including compressed air,...,None,None,None,None,None,None,None,None,None,None
4,random-id-8642,"""Random Name""","""KW""","""""","""Kuwait""","""{""""company_id"""":""""global-infinity"""",""""industr...","""Experienced Chief Executive Officer with a de...","""""","""""","""https://www.linkedin.com/in/random-id-8642""",...,"""random-id-8642""",None,None,None,None,None,None,None,None,None
5,random-id-7531,"""Random Name""","""KW""","""""","""Kuwait""","""{""""company_id"""":""""global-infinity"""",""""industr...","""Experienced Chief Executive Officer with a de...","""""","""""","""https://www.linkedin.com/in/random-id-7531""",...,"""random-id-7531""",None,None,None,None,None,None,None,None,None
6,random-id-7890,"""Random Name""","""DZ""","""Logging Operations & Petrophysical QA/QC supe...","""Biskra","Algeria""","""{""""industry"""":""""None at present"""",""""name"""":""""...","""I have fifteen years of experience in the oil...",not only in selection but also in other.<br>I...,Deviated and Horizontal Wells) including basi...,...,None,None,None,None,None,None,None,None,None,None
7,random-id-4820,"""Random Name""","""NG""","""Volkswagen Product at Random Auto Sales""","""Nigeria""","""{""""industry"""":""""CollinsCAR-Automobile_inv.org...","""We encourage you to browse our online inventory",schedule a test drive and investigate financi...,click on our usedÂ Volkswagen,Passat,...,13,13,"""""","""Random Auto Sales""","""""","""""","""""","""""","""https://www.linkedin.com/in/random-id-4820""","""random-id-4820"""
8,random-id-9025,"""Random Name""","""UK""","""""","""""","""{""""company_id"""":""""oldmill"""",""""industry"""":""""Ol...","""I have worked in Financial Services since lat...","""[]""","""[]""","""https://www.linkedin.com/in/random-id-9025?_l...",...,None,None,None,None,None,None,None,None,None,None
9,random-id-5837,"""Random Name""","""EG""","""Food Safety & hygiene coordinator at Random H...","""Cairo""","""{""""company_id"""":""""steigenberger"""",""""industry""...","""""","""[]""","""[{""""description"""":""""Ø¬Ù†ÙˆØ¨ Ø³ÙŠÙ†Ø§Ø¡ Ø´Ø±Ù...","{""""description"""":""""Ù…ØµØ±"""",""""description_html...",...,None,None,None,None,None,None,None,None,None,None
10,"random-id-5847,""Random Name"",""GB"",""Community A...","""""description"""":""""Clear Glass is a small busin...",all aspects of glass and glazing are covered....,addressing any concerns and putting their min...,gathering prices & order processing,quality control and ensuring all products are...,Guildhall CambridgeKitchen Glass Splashbacks ...,"Cambridge""""","""""description_html"""":""""Clear Glass is a small ...",None,...,None,None,None,None,None,None,None,None,None,None
11,random-id-12286a197,"""Random Name""","""EG""","""Senior Media Buyer | Marketing Strategist | G...","""New Cairo""","""{""""company_id"""":""""cmg-city-mega-group"""",""""ind...","""I've spent 3 years optimizing campaigns and c...",technology - Real Estate - Manufacturing - Ma...,"""[]""","""[{""""description"""":""""Cairo, Egypt"""",""""descript...",...,None,None,None,None,None,None,None,None,None,None

In [46]:
data.shape

(9, 59)

In [64]:
# Créer une nouvelle liste de colonnes pour le deuxième DataFrame
new_columns = [
    'id', 'name', 'country_code', 'position', 'city', 
    'current_company', 'about', 'posts', 'experience', 'url',
    'followers', 'connections', 'current_company_company_id',
    'current_company_name', 'publications', 'patents', 
    'projects', 'organizations', 'input_url', 'linkedin_id'
]

In [65]:
# Créer le nouveau DataFrame avec les colonnes souhaitées
df_clean = pd.DataFrame(columns=new_columns)
print(df_clean.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          0 non-null      object
 1   name                        0 non-null      object
 2   country_code                0 non-null      object
 3   position                    0 non-null      object
 4   city                        0 non-null      object
 5   current_company             0 non-null      object
 6   about                       0 non-null      object
 7   posts                       0 non-null      object
 8   experience                  0 non-null      object
 9   url                         0 non-null      object
 10  followers                   0 non-null      object
 11  connections                 0 non-null      object
 12  current_company_company_id  0 non-null      object
 13  current_company_name        0 non-null      object
 14  publications                0 non-null      object
 15  patents                     0 non-null      object
 16  projects                    0 non-null      object
 17  organizations               0 non-null      object
 18  input_url                   0 non-null      object
 19  linkedin_id                 0 non-null      object
dtypes: object(20)
memory usage: 132.0+ bytes
None

In [66]:
df_to_clean[0] = df_to_clean[0].str.extract(r'-(\d+)$')  # Capture tout après le dernier tiret

# Vérifiez le DataFrame
print(df_to_clean[[0]].head())

      0
0  2468
1  1357
2  8642
3  9512
4  8642

In [67]:
df_to_clean.shape

(12, 115)

In [68]:
df_clean['id'] = df_to_clean[0].to_list()

In [38]:
df_clean

,id,name,country_code,position,city,current_company,about,posts,experience,url,followers,connections,current_company_company_id,current_company_name,publications,patents,projects,organizations,input_url,linkedin_id
0,2468,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8642,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8642,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,7531,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,4820,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,9025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,5837,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
df_clean['country_code'] = df_to_clean[2].to_list()
df_clean['city'] = df_to_clean[4].to_list()

In [ ]:
df_clean

,id,name,country_code,position,city,current_company,about,posts,experience,url,followers,connections,current_company_company_id,current_company_name,publications,patents,projects,organizations,input_url,linkedin_id
0,2468,NaN,"""KW""",NaN,"""Kuwait""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1357,NaN,"""IN""",NaN,"""Noida",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8642,NaN,"""""",NaN,"""""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9512,NaN,"""UK""",NaN,"""Galashiels""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8642,NaN,"""KW""",NaN,"""Kuwait""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,7531,NaN,"""KW""",NaN,"""Kuwait""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7890,NaN,"""DZ""",NaN,"""Biskra",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,4820,NaN,"""NG""",NaN,"""Nigeria""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9025,NaN,"""UK""",NaN,"""""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,5837,NaN,"""EG""",NaN,"""Cairo""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,5847,NaN,"""GB""",NaN,"""Greater Cambridge Area""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,"""EG""",NaN,"""New Cairo""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN